.container{
    display: flex;
    justify-content: space-evenly;
    background-color: aliceblue;

}

.box{
    width: 200px;
    height: 350px;
}
#box1{
    background-color: rgb(255, 255, 255);
}
#box2{
    background-color: rgb(255, 255, 255);
}
#box3{
    background-color: rgb(255, 255, 255);
}
#box4{
    background-color: rgb(255, 255, 255);
}

body{
    background-color: aliceblue;
}

.container1{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 5px;
    padding: 15px;
}

.box1{
    width: 320px;
    height: 350px;
}
#bo1{
    background-color: rgb(255, 255, 255);
    border: black 2px;
}
#bo2{
    background-color: rgb(255, 255, 255);
    border: black 2px;
}
#bo3{
    background-color: rgb(255, 255, 255);
    border: black 2px;
}
#bo4{
    background-color: rgb(255, 255, 255);
    border: black 2px;
}
#bo5{
    background-color: rgb(255, 255, 255);
    border: black 2px;
    margin: 20px;
}
#bo6{
    background-color: rgb(255, 255, 255);
    border: black 2px;
    margin: 20px;
}
div a {
    color: black;
}

.container1 .box1 a{
    text-decoration: none;
}
.img img{
    height: 500;
    width: 1300px;
    text-align: center;
    padding: 60px;
}
.img1 img{
    height: 500;
    width: 1455px;
}
.img2 img{
    height: 500;
    width: 1455px;
}
.img2 .text a{
    text-decoration: none;
}
.text{
    position: relative;
    top: 0%;
}
.img3 h2{
    margin: 60px;
}
.img3 img{
    margin: 35px;
}
header a{
    text-decoration: none;
}
header div ul li{
    text-decoration: none;
    display: inline;
    
}
header div img ul li {
    align-items: center;

}
.img4 img{
    height: 600;
    width: 1400px;
    text-align: center;
    padding: 40px;
}